extends partials/layout.pug

block content
  .heading
    h1 Are you sure you want to logout?
    if msg
      h2= msg
  .login-form
    form(method='POST')
      .logout-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Logout')
