extends partials/layout.pug

block content
  .heading
    h1 Make a new post
  .contact-form
    form(method='POST')
      .form-group
        label(for='title') Title
        input.form-control#title(type='text', name='title', placeholder='Enter a new title' required)
      .form-group
        label(for='link') URL
        input.form-control#link(type='url', name='link', placeholder='Enter URL' required)
      .form-group
        label(for='image') Image
        input.form-control#image(type='url', name='image', placeholder='Enter a URL image' required)
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Submit')

